<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.862070071186-odelccv48up0namepffub7eqt6aa12lt</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>862070071186-odelccv48up0namepffub7eqt6aa12lt.apps.googleusercontent.com</string>
	<key>GIDServerClientID</key>
	<string>862070071186-ksdujkgkd5hdj881dmreo67stsibsnvf.apps.googleusercontent.com</string>
</dict>
</plist>
